<app-animals-details *ngIf="selectedAnimal" [animal]="selectedAnimal"></app-animals-details>
<div>
    <ul id="animals">
        <li *ngFor="let animal of animals" (click)="selectAnimal(animal)">
            <img src="assets/img/{{animal.img}}" [alt]="animal.name" height="100">
            <p>{{animal.name}}</p>
        </li>
    </ul>
</div>