<div id="selected-animal">
  <img src="assets/img/{{animal.img}}" [alt]="animal.name" id="selected-animal-img" height="300">
  <h3 id="selected-animal-name">{{animal.name}}</h3>
  <p class="weight" id="selected-animal-weight">{{animal.weight}}</p>
  <p class="speed" id="selected-animal-speed">{{animal.speed}}</p>
</div>